@import "color_font.rasi"

* {
    background-color: @BG;
    text-color: @FG;
    MAIN: #689d6a;
}

window {
    border: 3px;
    border-color: @BORDER;
    border-radius: 10;
    width: 30%;
    anchor: center;
}

mainbox {
    padding: 10px;
}

inputbox {
    children: [ prompt, entry ];
}

case-indicator, num-rows, listview, num-filtered-rows, textbox-current-entry {
    enabled: false;
}
